/* Global Styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    border: 1px solid purple;
    background-color: lightblue;
    min-height: 400px;
}

.item {
    border: 1px solid red;
    background-color: lightpink;
    width: 22%;
    height: 300px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-even {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.self-stretch {
    align-self: stretch;
    height: auto;
}